# Django Settings
SECRET_KEY=sua-chave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,entregas.suaempresa.com.br
CSRF_TRUSTED_ORIGINS=https://entregas.suaempresa.com.br

# Database (MySQL)
DB_NAME=st63136_dev_app_transportadora
DB_USER=st63136_quickdelivery
DB_PASSWORD=Qu1ck.2026
DB_HOST=st63136.ispot.cc
DB_PORT=3306

# Redis / Celery
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# FTP Configuration (Comprovantes)
FTP_HOST=st63136.ispot.cc
FTP_USER=st63136
FTP_PASS=xh3!B8Wp
FTP_BASE_URL=https://st63136.ispot.cc/uploads/comprovantes-quickdelivery/

# Email Configuration
EMAIL_HOST_USER=naorespondertest@gmail.com
EMAIL_HOST_PASSWORD=nltb ondt ctza nghe
DEFAULT_FROM_EMAIL=Logística Quick Delivery <naorespondertest@gmail.com>

# Timezone
TIME_ZONE=America/Sao_Paulo
